<nav class="navbar">
  <ul class="nav-list">

    {% for item in site.data.menu.landing %}
    {% if item.submenu %}
    <li class="nav-entry nav-group">
      <a href="{{ item.url | relative_url }}" class="nav-group-link nav-link"><span>{{ item.name }}</span></a>
      <div class="nav-group-content">
        {% for sub in item.submenu %}
        <a class="nav-link" href="{{ sub.url | relative_url }}"><span>{{ sub.name }}</span></a>
        {% endfor %}
      </div>
    </li>
    {% else %}
    <li class="nav-entry">
      <a href="{{ item.url | relative_url }}" class="nav-link-nosub">{{ item.name }}</a>
    </li>
    {% endif %}
    {% endfor %}

  </ul>

  <div class="burger">
    <div class="burger-line-1"></div>
    <div class="burger-line-2"></div>
    <div class="burger-line-3"></div>
  </div>
</nav>
