
.landing-wraper
  // fallback
  background-color: white
  background-image: url($baseurl + 'assets/img/masthead_mobile.jpg')
  background-position: top
  background-repeat: no-repeat
  background-size: auto 90vh
  height: 100vh
  max-height: 100vh
  display: flex
  align-items: flex-end


.landing-content
  display: flex
  align-items: center
  flex-direction: column
  margin: 0 2vw 2vh 25vw
  padding: 3rem
  //height: 30vh
  width: 100vw
  background-color: $nhs-green
  color: rgb(255, 255, 255)
