// Navigation styling for medium and up displays

// Everything here will be included in EVERY .html

@media screen and ( min-width: 768px )

  .navbar
    display: absolute
    background-color: $navbar-color
    padding: 0
    //z-index: auto
    min-height: 0
    height: $navbar-height

  .nav-list
    display: flex
    justify-content: flex-end
    list-style-type: none
    background-color: inherit
    height: inherit
    width: 100vw
    padding: 0
    transform: none
    z-index: 1

  .nav-link
    color: white
    align-items: center
    padding: 0 10px
    height: $navbar-height
    opacity: 1
    margin: 0
    text-decoration: none

  .nav-group-link
    transition: $nav-hover

  .nav-group-link:hover
    background-color: $nav-link-bg-color
    transition: $nav-hover

  .nav-group-content
    position: absolute

  .nav-group-content .nav-link
    color: black
    padding: 0
    padding-left: 1rem
    padding: 10px 40px 0 10px
    text-align: left
    font-size: $font-size * .9
    height: 5rem

  .burger
    display: none
