// Here we only deal with navigation within env: gaitq

// on mobile we hide the submenus of local envs

.gaitq-group-link, .patients-group, .clinicians-group
  display: none

// Navigation styling for medium and up displays

@media screen and ( min-width: 768px )
  .gaitq-group-link
    display: flex

  .nav-group-content
    background-color: rgb(255, 255, 255)
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2)
    display: block
    visibility: hidden
    border-radius: 4px
    z-index: 1
    //transition: visibility .1s ease-in
    transform: translateY(10px)
    transition: transform .2s ease-in


    &:before
      background: inherit
      boxshadow: none
      content: ""
      display: block
      height: 16px
      width: 16px
      left: 5px
      position: absolute
      bottom: 100%
      border-radius: 2px
      transform: rotate(-45deg) translateY(14px)
      z-index: -1

  .nav-group:hover .nav-group-content
    display: block
    visibility: visible
    transition: visibility .2s ease-in
    transform: translateY(-14px)
    transition: transform .3s ease-in


  .nav-group-content .nav-link
    transition: $nav-hover

  .nav-group-content .nav-link:hover
    background-color: $nav-sublink-bg-color
    transition: $nav-hover
